 <h4><%= link_to "NYTIMES CURRENT FICTION", books_path, class: 'btn btn-primary' %></h4>
 
 <p> <%=link_to 'Log Out', sessions_path, method: :delete%></p>
<br>
<br>


<% book = @books.each do |book| %>

<style>
    .div-1 {
        background-color: #DCDBDC;
    }
      /* Hexadecimal value */
    
    
    /* RGB value */
    
    
</style>


  
  
  <div class="form-group">
  <div class="card">
 <div class="div-1"> 
  <div class="card-body">
  
<ul> 

<h4> Title </h4> <%= book.title %>
<br></br>

<h4> Author </h4> <%= book.author %>
<br></br>
<h4> Publisher </h4> <%= book.publisher %>
<br></br>
<h4> Description </h4> <%= book.description %>
<br></br>


<h4> Book ID </h4> <%= (book.id) %></li>
<br></br>


 <h4><%= link_to "Write a review", new_post_path, class: 'btn btn-primary' %></h4> 
 
  <div>
    
        </div> <br>
      
       </div>
      </div>
     </div>
    </div>
    </body>
    </br> 
 <%end %>




 
</ul>




